*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#4f46e5,#2563eb);
}

.login-box{
    width:400px;
    background:#fff;
    padding:40px;
    border-radius:16px;
    box-shadow:0 15px 35px rgba(0,0,0,0.15);
}

.logo{
    text-align:center;
    margin-bottom:30px;
}

.logo h1{
    font-size:50px;
}

.logo h2{
    color:#1e3a8a;
    margin-top:10px;
}

.logo p{
    color:#6b7280;
    margin-top:5px;
}

.input-box{
    margin-bottom:20px;
}

.input-box label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
    color:#374151;
}

.input-box input{
    width:100%;
    padding:12px 15px;
    border:1px solid #d1d5db;
    border-radius:8px;
    font-size:15px;
    outline:none;
}

.input-box input:focus{
    border-color:#2563eb;
}

.extra-options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
    font-size:14px;
}

.extra-options label{
    display:flex;
    align-items:center;
    gap:5px;
    color:#4b5563;
}

.extra-options a{
    text-decoration:none;
    color:#2563eb;
}

button{
    width:100%;
    padding:13px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#1d4ed8;
}

.signup-text{
    text-align:center;
    margin-top:20px;
    color:#6b7280;
}

.signup-text a{
    color:#2563eb;
    text-decoration:none;
    font-weight:600;
}